<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SiteCore" parallel="classes" thread-count="2">

    <listeners>
        <listener class-name="Listener.RetryListener"/>
        <listener class-name="Listener.TestListener"/>
        <listener class-name="base.testBase"/>
      <listener class-name="ParallelTest.WebDriverListener"></listener>
  </listeners>


  <test name="Test">
      <parameter name="browserName" value="chrome"></parameter>
      <classes>
          <class name="Template.HomePageTemplate" />
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->